.backnos {
  background-image: url(/assets/Nosotros.png);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  position: fixed;
}

.container-box{
  width: 250%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box1{
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 20px;
  border: 2px solid #eeeeee;
  border-radius: 14px;
  text-align: center;
  background-image: url(/assets/ingrid.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative; 

}
.box2{
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 20px;
  border: 2px solid #eeeeee;
  border-radius: 14px;
  text-align: center;
  background-image: url(/assets/jhon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative; 

}
.box3{
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 20px;
  border: 2px solid #eeeeee;
  border-radius: 14px;
  text-align: center;
  background-image: url(/assets/Jenifer.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative; 

}


.box h2{
  font-size: 16px;
  margin-top: 10px;
  transition: all 500ms;
}

.box .container-p{
  width: 100%;
  height: 250px;
  left: 0;
  text-align: center;
  bottom: 0;
  overflow: hidden;
  border-radius: 0px 0px 14px 14px;
}

.box p{
  font-size: 16px;
  color: #3d3c3c;
  opacity: 0;
  transform: translateY(150px);
  transition: all 600ms;
  justify-content:center;
  
}



.box .check i{
  margin-top: 6px;
  display: none;
  color: white
  
}

/*Efecto Hover*/


.box:hover{
  background: #fbfbfe;
}



.box:hover h2{
  transform: translateY(-90px);
}

.box:hover .container-p p{
  transform: translateY(0px);
  opacity: 1;
}

